$theme-background-color: #2a2d36;
$theme-accent-color: #e88301;
$theme-header-color: #0b0c10;
$theme-footer-color: #15161a;
$theme-footer-text-color: #2a2c38;
$theme-text-color: #fff;
$theme-button-color: #979ba7;


$header-height: 10rem;
$header-bottom-border: 0px;
$footer-height: 140px;
$footer-top-border: 2px;